{% extends "base.html" %}

{% block title %}Статистика{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
</head>
<body>

    <h2>Статистика</h2>

<p>Самое частое имя: {{ most_common_first_name.first_name }} ({{ most_common_first_name.count }})</p>
<p>Средний возраст: {{ average_age.average_age|floatformat:"2" }} лет</p>
<p>Возраст самого молодого: {{ youngest_contact.youngest_age }} лет</p>
<p>Возраст самого старого: {{ oldest_contact.oldest_age }} лет</p>
<p>Общий возраст всех пользователей: {{ total_age.total_age }} лет</p>
<p>Количество видов "контактных данных" в системе: {{ contact_data_count }}</p>
<p>Максимальное количество дублирующихся контактных данных: {{ max_duplicate_data_count }}</p>
</body>


{% endblock %}