<!-- templates/application/view_users.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.first_name }} {{ user.last_name }} (Возраст: {{ user.age }})</li>
        {% empty %}
            <li>Пользователей пока нет.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Вернуться на главную</a>
</body>
</html>
