{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
</head>
<body>
    <h2>Список пользователей</h2>
    <p>Общее количество номеров телефона: {{ phone_count }}</p>
    <p>Общее количество адресов электронной почты: {{ email_count }}</p>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Количество "контактных данных"</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.data_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
